<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  </head>
  <body>
  <div class="background">
    <div class="instrument-container">
      <div class="row 1">
        <div class="btn 1", onclick="">X</div>
        <div class="btn 2", onclick="">X</div>
        <div class="btn 3", onclick="">X</div>
        <div class="btn 4", onclick="">X</div>
      </div>

      <div class="row 2">
        <div class="btn 5", onclick="">X</div>
        <div class="btn 6", onclick="">X</div>
        <div class="btn 7", onclick="">X</div>
        <div class="btn 8", onclick="">X</div>
      </div>
    </div>
  </div>
  </body>
</html>













<!-- <ul>
{{#each "Whatever they name the DB"}}
<li>{{"DB fields"}} ({{"DBfields"}})</li>
{{/each}}
</ul> -->
