<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

<script src="soundscript.js"></script>
  <body>
  <div class="background">
    <div class="instrument-container">
      <div class="row1">
        <div class="btn sound" data-soundfile="/samples/drum_sounds/bdrum1.WAV">X</div>
        <div class="btn sound">X</div>
        <div class="btn sound">X</div>
        <div class="btn sound">X</div>
      </div>

      <div class="row2">
        <div class="btn sound">X</div>
        <div class="btn sound">X</div>
        <div class="btn sound">X</div>
        <div class="btn sound">X</div>
      </div>
    </div>
  </div>


  </body>
</html>













<!-- <ul>
{{#each "Whatever they name the DB"}}
<li>{{"DB fields"}} ({{"DBfields"}})</li>
{{/each}}
</ul> -->
