<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
    <link rel="stylesheet" href="main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>

  </head>

  <body>
  <div class="background">
    <div class="instrument-container">
      <div class="row1">
        <div class="btn 1 sound" data-soundfile="/drum_sounds/bdrum1.WAV" data-image="/midi1.png"></div>
        <div class="btn 2 sound" data-soundfile="/drum_sounds/clap1.WAV" data-image="/midi2.png"></div>
        <div class="btn 3 sound" data-soundfile="/drum_sounds/crash.WAV" data-image="/midi3.png"></div>
        <div class="btn 4 sound" data-soundfile="/drum_sounds/hhclose.WAV" data-image="/midi4.png"></div>
      </div>

      <div class="row2">
        <div class="btn 5 sound" data-soundfile="/drum_sounds/perca.WAV" data-image="/midi5.png"></div>
        <div class="btn 6 sound" data-soundfile="/drum_sounds/ride.WAV" data-image="/midi6.png"></div>
        <div class="btn 7 sound" data-soundfile="/drum_sounds/rimshot.WAV" data-image="/midi7.png"></div>
        <div class="btn 8 sound" data-soundfile="/drum_sounds/snare.WAV" data-image="/midi8.png"></div>

      </div>
    </div>
  </div>
      <script src="/soundscript.js"></script>
  </body>
</html>
